* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar-nav .nav-link {
  font-size: 1.35rem;
}

.navbar-nav {
  gap: 0.25rem 0.75rem;
}

#searchInput {
  width: 150px;
}

@media (min-width: 992px) {
  .navbar-nav {
    gap: 1rem 1.5rem;
  }

  #searchInput {
    width: 190px;
  }
}